.main {
  padding: 4em 0 2em;
  margin: 0;

  .main-container {
    width: 90%;
    max-width: 80em;
    margin: 0 auto;

    .thumbnails {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;

      .box {
        margin: 0 1em 2em;
        width: 30%;
        border-radius: 4px;
        margin-bottom: 2em;
        background: #2c2c32;
        text-align: center;

        a {
          cursor: pointer;
          outline: currentcolor none 0;
          margin: 0;
          display: block;
          width: 100%;
          position: relative;
          border-radius: 4px;

          img {
            display: block;
            width: 100%;
            border-radius: 4px 4px 0 0;
          }
        }

        .box-text {
          max-width: 80em;
          margin: 0 auto;
          padding: 1.5em;
          width: 100%;
          text-align: center;

          h3 {
            font-size: 1.35em;
            color: #fff;
            font-weight: 400;
            line-height: 1.5;
            margin: 0 0 1em;
          }

          p {
            margin: 0 0 2em;
            color: rgba(255, 255, 255, 0.75);
          }

          .button {
            cursor: pointer;
            outline: currentcolor none 0;
            margin-bottom: 0;
            display: block;
            margin: 0 0 1em;
            width: 100%;
            appearance: none;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            border-radius: 4px;
            border: 0;
            color: #ffffff;
            cursor: pointer;
            display: inline-block;
            font-weight: 400;
            height: 2.85em;
            line-height: 2.95em;
            padding: 0 1.5em;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
          }

          .watch1 {
            background-color: #70c7be;

            &:hover {
              background-color: #82cec6;
            }
          }

          .watch2 {
            background-color: #7f92cf;

            &:hover {
              background-color: #92a2d6;
            }
          }

          .watch3 {
            background-color: #9d7ed0;

            &:hover {
              background-color: #ab91d7;
            }
          }
        }
      }
    }
  }
}