@import "./banner";
@import "./main";
@import "./footer";
@import "./mobile";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  left: 0;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  background: #202024;
}